<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Select Related Example</h1>
    <!-- {% for book in books %}
        <td> {{book.author.name}} </td>
    {% endfor %} -->

    {% for pizza in pizzas %}
        {% for topping in pizza.toppings.all %}
        {{topping}}
        {% endfor %}
    {% endfor %}



</body>
</html>