<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>static files test</title>
</head>
<body>
    {% load static %}

    <img src="http://127.0.0.1:8000/static/books/search2.png" alt="My image">
</body>
</html>